In [5]:
# 比較台大跟政大的系所(學士) 

import pandas as pd #讀csv
NTU = pd.read_csv("NTU.csv")
NCCU =pd.read_csv("NCCU.csv")

In [6]:
NTU.head()

     學校名稱    科系名稱 日間∕進修別   等級別  學生數  教師數  上學年度畢業生數    縣市名稱
0  國立臺灣大學    戲劇學系    D 日  B 學士  170   11        39  30 臺北市
1  國立臺灣大學    歷史學系    D 日  B 學士  244   24        55  30 臺北市
2  國立臺灣大學    人類學系    D 日  B 學士  183   14        29  30 臺北市
3  國立臺灣大學     哲學系    D 日  B 學士  189   23        41  30 臺北市
4  國立臺灣大學  外國語文學系    D 日  B 學士  559   73       124  30 臺北市

In [7]:
NCCU.head()

     學校名稱    科系名稱 日間∕進修別   等級別  學生數  教師數  上學年度畢業生數    縣市名稱
0  國立政治大學    教育學系    D 日  B 學士  213   14        57  30 臺北市
1  國立政治大學    歷史學系    D 日  B 學士  167   18        24  30 臺北市
2  國立政治大學    民族學系    D 日  B 學士  174    9        30  30 臺北市
3  國立政治大學     哲學系    D 日  B 學士  179   14        28  30 臺北市
4  國立政治大學  英國語文學系    D 日  B 學士  291   23        63  30 臺北市

In [8]:
NTU_D = list(NTU['科系名稱'])
print('台大的科系有:',len(NTU),'個')
NCCU_D = list(NCCU['科系名稱'])
print('政大的科系有:',len(NCCU),'個')

台大的科系有: 55 個
政大的科系有: 37 個

In [23]:
print(NTU_D)
print(NCCU_D)

['戲劇學系', '歷史學系', '人類學系', '哲學系', '外國語文學系', '日本語文學系', '中國文學系', '經濟學系', '政治學系', '心理學系', '社會學系', '地理環境資源學系', '圖書資訊學系', '會計學系', '財務金融學系', '工商管理學系', '國際企業學系', '法律學系', '生命科學系', '昆蟲學系', '生化科技學系', '化學系', '地質科學系', '大氣科學系', '物理學系', '數學系', '資訊管理學系', '資訊工程學系', '化學工程學系', '材料科學與工程學系', '電機工程學系', '機械工程學系', '工程科學及海洋工程學系', '生物機電工程學系', '醫學工程學系', '土木工程學系', '生物環境系統工程學系', '農藝學系', '動物科學技術學系', '園藝暨景觀學系', '農業化學系', '農業經濟學系', '生物產業傳播暨發展學系', '植物病理與微生物學系', '森林環境暨資源學系', '獸醫學系', '牙醫學系', '醫學系', '學士後護理學系', '醫學檢驗暨生物技術學系', '物理治療學系', '職能治療學系', '藥學系', '公共衛生學系', '社會工作學系']
['教育學系', '歷史學系', '民族學系', '哲學系', '英國語文學系', '日本語文學系', '阿拉伯語文學系', '韓國語文學系', '土耳其語文學系', '歐洲語文學系', '斯拉夫語文學系', '東南亞語言與文化學士學位學程', '中國文學系', '經濟學系', '政治學系', '外交學系', '心理學系', '社會學系', '地政學系', '傳播學院大一大二不分系', '廣播電視學系', '新聞學系', '會計學系', '財務管理學系', '金融學系', '財政學系', '風險管理與保險學系', '企業管理學系', '創新國際學院學士班', '公共行政學系', '國際經營與貿易學系', '廣告學系', '法律學系', '應用數學系', '統計學系', '資訊管理學系', '資訊科學系']

In [26]:
#將list轉換成set

d1 = set(NTU_D)
d2 = set(NCCU_D)

In [29]:
# 交集  intersection (台大跟政大都有的科系)

print('台大跟政大都有的科系')
print(d1&d2,'共',len(d1&d2),'個')

台大跟政大都有的科系
{'會計學系', '日本語文學系', '歷史學系', '資訊管理學系', '社會學系', '政治學系', '中國文學系', '法律學系', '心理學系', '哲學系', '經濟學系'} 共 11 個

In [34]:
# 聯集  union (所有台大跟政大的科系)

print('所有台大跟政大的科系')
print(d1|d2,'共',len(d1|d2),'個')

所有台大跟政大的科系
{'大氣科學系', '公共衛生學系', '阿拉伯語文學系', '資訊科學系', '圖書資訊學系', '法律學系', '森林環境暨資源學系', '生物環境系統工程學系', '獸醫學系', '經濟學系', '斯拉夫語文學系', '農業經濟學系', '生命科學系', '日本語文學系', '電機工程學系', '財務金融學系', '生化科技學系', '財政學系', '哲學系', '公共行政學系', '農業化學系', '資訊工程學系', '機械工程學系', '物理學系', '職能治療學系', '工程科學及海洋工程學系', '國際經營與貿易學系', '生物產業傳播暨發展學系', '外國語文學系', '統計學系', '昆蟲學系', '社會工作學系', '廣播電視學系', '園藝暨景觀學系', '地政學系', '數學系', '風險管理與保險學系', '戲劇學系', '東南亞語言與文化學士學位學程', '廣告學系', '材料科學與工程學系', '創新國際學院學士班', '教育學系', '政治學系', '工商管理學系', '土耳其語文學系', '心理學系', '醫學工程學系', '醫學檢驗暨生物技術學系', '地理環境資源學系', '會計學系', '動物科學技術學系', '地質科學系', '歷史學系', '農藝學系', '中國文學系', '化學工程學系', '英國語文學系', '植物病理與微生物學系', '新聞學系', '資訊管理學系', '社會學系', '民族學系', '歐洲語文學系', '傳播學院大一大二不分系', '金融學系', '外交學系', '物理治療學系', '土木工程學系', '企業管理學系', '化學系', '財務管理學系', '學士後護理學系', '醫學系', '應用數學系', '牙醫學系', '生物機電工程學系', '韓國語文學系', '人類學系', '國際企業學系', '藥學系'} 共 81 個

In [35]:
# 差集  difference (台大有但政大沒有的科系)

print('台大有但政大沒有的科系')
print(d1-d2,'共',len(d1-d2),'個')

台大有但政大沒有的科系
{'大氣科學系', '材料科學與工程學系', '公共衛生學系', '圖書資訊學系', '工商管理學系', '森林環境暨資源學系', '生物環境系統工程學系', '醫學工程學系', '醫學檢驗暨生物技術學系', '獸醫學系', '農業經濟學系', '地理環境資源學系', '生命科學系', '動物科學技術學系', '地質科學系', '農藝學系', '電機工程學系', '財務金融學系', '生化科技學系', '化學工程學系', '農業化學系', '資訊工程學系', '植物病理與微生物學系', '機械工程學系', '物理學系', '職能治療學系', '工程科學及海洋工程學系', '生物產業傳播暨發展學系', '外國語文學系', '昆蟲學系', '物理治療學系', '社會工作學系', '土木工程學系', '化學系', '學士後護理學系', '醫學系', '園藝暨景觀學系', '牙醫學系', '生物機電工程學系', '數學系', '戲劇學系', '人類學系', '國際企業學系', '藥學系'} 共 44 個

In [36]:
# 差集  difference (政大有但台大沒有的科系)

print('政大有但台大沒有的科系')
print(d2-d1,'共',len(d2-d1),'個')

政大有但台大沒有的科系
{'廣告學系', '創新國際學院學士班', '教育學系', '資訊科學系', '阿拉伯語文學系', '土耳其語文學系', '斯拉夫語文學系', '財政學系', '公共行政學系', '英國語文學系', '新聞學系', '國際經營與貿易學系', '民族學系', '歐洲語文學系', '傳播學院大一大二不分系', '金融學系', '統計學系', '外交學系', '企業管理學系', '廣播電視學系', '財務管理學系', '應用數學系', '韓國語文學系', '風險管理與保險學系', '東南亞語言與文化學士學位學程', '地政學系'} 共 26 個

In [37]:
# 對稱差集  symmetric_difference (只有台大有+只有政大有的科系)

print('只有台大有+只有政大有的科系')
print(d1^d2,'共',len(d1^d2),'個')

只有台大有+只有政大有的科系
{'大氣科學系', '阿拉伯語文學系', '資訊科學系', '斯拉夫語文學系', '電機工程學系', '財務金融學系', '生化科技學系', '公共行政學系', '資訊工程學系', '機械工程學系', '物理學系', '職能治療學系', '國際經營與貿易學系', '工程科學及海洋工程學系', '生物產業傳播暨發展學系', '外國語文學系', '統計學系', '園藝暨景觀學系', '數學系', '風險管理與保險學系', '藥學系', '廣告學系', '創新國際學院學士班', '醫學工程學系', '醫學檢驗暨生物技術學系', '地理環境資源學系', '動物科學技術學系', '農藝學系', '化學工程學系', '英國語文學系', '植物病理與微生物學系', '新聞學系', '歐洲語文學系', '傳播學院大一大二不分系', '物理治療學系', '土木工程學系', '企業管理學系', '醫學系', '應用數學系', '生物機電工程學系', '人類學系', '國際企業學系', '公共衛生學系', '圖書資訊學系', '森林環境暨資源學系', '生物環境系統工程學系', '獸醫學系', '農業經濟學系', '生命科學系', '財政學系', '農業化學系', '昆蟲學系', '社會工作學系', '廣播電視學系', '戲劇學系', '東南亞語言與文化學士學位學程', '材料科學與工程學系', '教育學系', '工商管理學系', '土耳其語文學系', '地質科學系', '民族學系', '金融學系', '外交學系', '化學系', '財務管理學系', '學士後護理學系', '牙醫學系', '韓國語文學系', '地政學系'} 共 70 個